body {
    top: 0 !important;
}

:focus {
    outline: 0;
}

.navbar {
    box-shadow: 0 0 7px #a5a5a5;
    font-weight: 400;
    border-radius: 0 !important;
    min-height: 80px;
}

.navbar-default {
    border: none;
    background: #fff !important;
}

.navbar-default .navbar-brand {
    height: auto !important;
    padding: 6px 15px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px
}

.navbar-nav > li > a {
    padding-top: 31px !important;
    padding-bottom: 30px !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff !important;
}

.nav .home a {
    color: #c72b11 !important;
}

.nav .traffic-updates a {
    color: #20603c !important;
}

.nav .alerts a {
    color: #122e5e !important;
}

.nav .contact a {
    color: #62198d !important;
}

.hidden-header {
    height: 82px;
}

.main-slider-caption {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    padding: 10px;
    z-index: 999;
}

.main-slider-caption .caption-btn {
    color: #fff;
    font-weight: bold;
}

.main-slider.owl-carousel .owl-nav .owl-next,
.main-slider.owl-carousel .owl-nav .owl-prev {
    background: rgba(0, 0, 0, .8);
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 24px;
    padding: 0;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    margin: -24px 5px 0 5px;
    color: #fff;
}

.main-slider.owl-carousel .owl-nav .owl-next {
    right: 15px;
}

.main-slider.owl-carousel .owl-nav .owl-prev {
    left: 15px;
}

.owl-theme .owl-nav {
    margin-top: 0px;
}

.pad-r5 {
    padding-right: 5px !important;
}

.pad-l5 {
    padding-left: 5px !important;
}

.list-inline,
.list-unstyled {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #252525;
    border-top: 4px solid #5a5a5a;
}

footer .commonlinks h3 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 21px;
    line-height: 1.75em;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.5px
}

.text-uppercase {
    text-transform: uppercase;
}

footer .commonlinks {
    padding: 20px 0 0;
}

footer .commonlinks ul.list-unstyled li {
    padding-left: 12px;
    position: relative;
}

footer .commonlinks ul.list-unstyled li a {
    margin-bottom: 5px;
}

footer .commonlinks a {
    color: #a8a8a8;
    display: block;
}

footer .commonlinks ul.list-unstyled li:after {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: "";
    color: #a8a8a8;
}

footer .govlinks {
    margin-top: 10px;
    text-align: right;
}

footer .govlinks a {
    display: inline-block !important;
    margin-bottom: 15px;
}

footer .copyright {
    background: #131313;
    padding: 10px 0;
    color: #a8a8a8;
}

.footer-social-links .text-for-sociallinks {
    display: inline-block;
    padding-right: 10px;
    color: #a8a8a8;
}

.footer-social-links .list-inline {
    display: inline-block;
}

.mar-bottom-none,
.navbar {
    margin-bottom: 0 !important;
}

.footer-social-links {
    background: #1e1e1e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-inline {
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline,
.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.footer-social-links .facebook-link {
    background: #3b5998;
}

.footer-social-links .twitter-link {
    background: #1da1f2;
}

.footer-social-links .instagram-link {
    background: #feb04c;
}

.footer-social-links .youtube-link {
    background: #ff1519;
}

.footer-social-links .footer-sociallink {
    margin-bottom: 1px;
    color: #fff;
    font-size: 18px;
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
}

footer .copyright .copyrighttext {
    text-align: right;
}

footer .copyright .officaltext {
    text-align: left;
}

.social-links {
    position: fixed;
    bottom: 18px;
    left: 0;
    width: auto;
    z-index: 9999999;
    overflow: hidden;
    margin-bottom: 0;
}

.hidesociallinks-btn {
    width: 48px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #999;
    cursor: pointer;
}

.sociallink {
    margin-bottom: 1px;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: width .15s ease-in-out;
    background: rgba(0, 0, 0, .3);
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.hidesociallinks {
    width: 0 !important;
    overflow: hidden;
}

.facebook-link:hover {
    background: #3b5998;
}

.twitter-link:hover {
    background: #1da1f2;
}

.instagram-link:hover {
    background: #feb04c;
}

.youtube-link:hover {
    background: #ff1519;
}

.sociallink:hover {
    width: 60px;
    color: #fff;
}

.site-translater {
    padding: 4px 6px;
    background: #fff;
    width: auto;
    display: inline-block;
    border: 3px solid #5a5a5a;
    border-radius: 3px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.goog-te-banner-frame {
    display: none;
}

.breadcrumb-wrapper {
    background: #f5f5f5;
    padding: 6px 0;
    text-align: right;
}

.breadcrumb-wrapper .breadcrumb {
    padding: 0 0 0 15px;
    margin-bottom: 0;
    background-color: transparent;
    color: #3d454e;
    display: inline-block;
}

.breadcrumb-wrapper .breadcrumb a {
    color: #3d454e;
}

.breadcrumb-wrapper .breadcrumb li:last-child {
    color: #1664c0;
}

.form-control,
.btn,
.input-group-addon {
    border-radius: 0;
}

.btn {
    padding: 10px 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.inner-page-contents {
    padding: 20px 0;
}

.inner-page-contents .page-heading {
    margin-bottom: 40px;
    text-align: right;
}

.inner-page-contents .page-heading h1 {
    font-size: 1.7em;
    margin-bottom: 0;
    background-color: #f5f5f5;
    padding: 6px 15px;
    border-radius: 4px;
    border-left: 4px solid #ccc;
    line-height: 1.75em;
}

.inner-page-contents .page-heading h1.title-contact {
    color: #62198d;
}

.inner-page-contents .page-heading h1.title-alerts {
    color: #122e5e;
}

.inner-page-contents .page-heading h1.title-traffic-updates {
    color: #20603c;
}

h1,
h2,
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

.fa-20x {
    font-size: 20px;
}

strong.formRequired {
    color: red;
}

.pagination {
    margin-top: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.embed-responsive-100x400px {
    padding-bottom: 430px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #f5f5f5;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}


#foo {
    display: block;
    margin: 0 auto;
}

.box {
    min-height: 150px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    position: relative;
    padding: 0px 45px;
    background: #fff;
    border-radius: 2px;
    transition: all .3s ease-in;
    box-shadow: 0 0 16px rgba(148, 148, 148, .2);

}

.box h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #1664c0;
    text-align: center;
    margin: 10px 0;
}

.box-text {
    font-size: 3em;
    text-align: center;
    padding: 18px 0 0 0;
}

.alert-section h3 {
    background: #fff;
    padding: 10px;
    margin: 3px 3px 0px 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #1664c0;
    border-bottom: solid 1px #eeeeee;
}

.alert-box {
    list-style: none;
    margin: 0;
    padding: 0;
}

.alert-box li {
    list-style: none;
    background: #fff;
    padding: 10px;
    margin: 3px;
    box-shadow: 0px 2px 1px rgba(148, 148, 148, .2);

}

.alert-box li:first-child {
    margin-top: 0;
}

.alert-box p {
    margin-bottom: 0;
}

.alert-box span {
    display: block;
    color: #878686;
}

@media (max-width: 767px) {
    .navbar {
        min-height: 50px;
    }

    .navbar-toggle i {
        font-size: 1.75em;
        color: #1664c0;
    }

    .navbar-toggle.collapsed i:before {
        content: "";
    }

    .navbar-toggle i:before {
        content: "";
    }

    .navbar-nav.navbar-right a {
        background: #3d454e !important;
        border-top: 1px solid #48515c;
        border-bottom: 1px solid #32383f;
        color: #fff !important;
    }

    .navbar-nav > li > a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-nav {
        margin: 0px -15px;
    }

    .inner-page-contents .page-heading h1 {
        font-size: 1.3em;
    }

    .inner-page-contents .page-heading {
        margin-bottom: 20px;
        text-align: left;
    }

    footer .copyright .officaltext {
        text-align: center;
    }

    footer .copyright .copyrighttext {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 998px) {
    .hidden-header {
        height: 57px;
    }
}
